@font-face {
  font-family: "Futura Bold";
  src: url("../assets/futura-bold.ttf");
}

* {
  font-family: "Futura Bold";
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100vh !important;
  overflow: hidden;
}

#introducció {
  min-height: 100%;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  color: white;
}

#intro {
  padding-left: 40px !important;
  padding-right: 40px !important;
  font-size: 40px;
  min-height: 464px !important;
}

#titols {
  width: fit-content;
}
#titols > a {
  padding: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-family: "Futura Bold";
  border-right: 0.1em solid white;
}

#titols > h1 {
  font-family: "Futura Bold";
  font-size: 170px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 0.1em solid white;
  animation: typing 3.5s steps(40, end), blinking 0.75s step-end infinite;
}

img {
  width: 100%;
  height: auto;
}

#content {
  min-height: 100vh;
  overflow: auto;
}

.tile {
  width: 100% !important;
  height: 50%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  z-index: 2;
  max-height: 371px;
}

.card > a {
  font-size: 32px;
  text-decoration: none;
  margin-top: 20px;
  color: black;
  max-height: 363px;
}

.card > a:visited {
  color: black;
}

.card > a > div{
  border: 1px solid gray;
  border-radius: 5px;
  height: 300px;
  z-index: 1;
  object-fit: cover;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  #content {
    min-height: 50vh !important;
  }

  #titols > h1 {
    font-size: 18vw;
    display: inline;
  }
  #intro {
    margin-top: 26vh;
    font-size: 25px;
    padding: 5px;
    padding: 0;
  }

  #titols > a {
    display: block;
    margin-bottom: 10px;
    padding: 2px;
    width: 200px;
    text-decoration: none;
    font-family: "Futura Bold";
    border-right: 0.1em solid white;
  }

  .card > a > img {
    border: 1px solid gray;
    border-radius: 5px;
    width: 90vw;
    height: 30vh;
    object-fit: cover;
    object-position: 0 0;
  }
}

@media (min-width: 768px) {
  #titols > h1 {
    font-size: 10vw;
    display: inline;
    text-align: center;
  }

  #titols > a {
    display: block;
    margin-bottom: 10px;
    padding: 2px;
    width: 200px;
    text-decoration: none;
    font-family: "Futura Bold";
    border-right: 0.1em solid white;
  }
  #intro {
    margin-top: 18vh;
    font-size: 25px;
    padding: 5px;
    padding: 0;
  }

  .card > a > div {
    border: 1px solid black;
    border-radius: 5px;
    width: 40vw;
    height: 30vh;
    z-index: 2;
    object-fit: cover;
    object-position: 0 0;
  }
}

.cover {
  background-color: black ;
  height: 30vh;
  width: 40vw;
  z-index: 2;
  position: relative;
  top: 0;
  transition: opacity 1s;
}

.cover:hover {
  opacity: 0;
}

.text {
  position: relative;
  top: -29vh;
}


#modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(63, 63, 63, 0.281);
}

#modal-body {
  background-color: white;
  height: 40%;
  width: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal-body:hover {
  box-shadow: 10px 10px gray;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  height: 25px;
  width: 48%;
  padding: 5px;
  position: absolute;
  top: 31%;
}

#close {
  width: 25px;
  z-index: 4;
}


.image {
  position: relative;
  height: 30vh !important;
  width: 40vw !important;
  object-fit: cover;
  top: -30vh
}
